.container1{
    background-color: #D2DAFF;
    margin:0;
    border:0;
}
.container2{
    background-color: #e6eafb;
    margin:0;
    border:0;
}
body{
    padding: 0;
    margin: 0;
    background-color: #D2DAFF;
    text-align: center;
}
img{
    border : solid 2px;
    border-color: #25316D;
    box-shadow:0px 0px 10px 5px black;
    border-radius: 25px;  
}
h1{
    font-size: 100px;
    font-family: 'Dancing Script', cursive;
    margin-top: 0px;
    padding-top: 20px;
}
.subheading1{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    line-height: 2;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}
.subheading2{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    line-height: 2;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}
.footer{
    width : 100%;
    height : 150px;
    background-color:#D2DAFF;
    padding-top: 30px;
}
.footer-link{
    text-decoration: none;
    border : solid black 4px;
    padding: 14px 14px 14px 14px;
    border-radius: 7px;
    margin-right: 10px;
    font-family: 'Courgette', cursive;
    transition : all;
}
.footer-link:hover{
    background-color: #8486f9;
    color: beige;
    text-decoration: none;
    border : solid black 1px;
    transition-duration: 0.25s;
}
.trademark{
    margin-top: 20px;
}
.logo{
    height: 100px;
    border : 0;
    display: inline;
    box-shadow: none;

}
nav{
    display: flex;
    text-align: left;
    background-color: #aab7f3;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link{
    text-decoration: none;
    margin-right: 20px;
    font-size: 1.5rem;
    font-family: 'Courgette', cursive;
    color: #9e38c0;
    transition : all;
    transition-duration: 0.25s;
}
.nav-link:hover{
    color:rgb(246, 48, 48);
    font-size: 1.7rem;
}
.lion-image{
    transition: all;
    transition-delay: 5ms;
    transition-duration:2s;
}
.lion-image:hover{
    width: 40%;
}
.bee-image{
    transition: all;
    transition-delay: 5ms;
    transition-duration:2s;
}
.bee-image:hover{
    width: 40%;
}
.subcontainer1{
    position : absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    top:50px;
    left: auto;
    right: auto;
}
.subcontainer2{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: blue;
    top: 100px;
    left: auto;
    right:auto;
}
.subcontainer3{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color:green;
    top :200px;
    left:auto;
    right:auto;
}